<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
	<title>Websocket ChatRoom</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div class="container" id="app" v-cloak>
		<div>
			<h2>{{room.name}}</h2>
		</div>
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text">내용</label>
			</div>
			<input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" v-for="message in messages">
				{{message.sender}} - {{message.message}}
			</li>
		</ul>
		<div></div>
	</div>
	<!-- JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script>
		//alert(document.title);
		// websocket & stomp initialize
		var sock = new SockJS("/ws/chat");
		var ws = Stomp.over(sock);
		var reconnect = 0;
		// vue.js
		var vm = new Vue({
			el: '#app',
			data: {
				roomId: '',
				room: {},
				sender: '',
				message: '',
				messages: [],
				token: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZXN0MzIiLCJhdXRoIjoiUk9MRV9VU0VSIiwiZXhwIjoxNjY1MjAwMTcyfQ.p-YSPKKAxON5yG13pekC8lBzJ13HZIlpJbE17FK1SPBIZhTKTAwa-1k0D29hbb3aSy6rqQzPIPs1HC15_TN69Q"
			},
			created() {
				
				this.roomId = 2;
				this.sender = localStorage.getItem('wschat.sender');
				this.findRoom();
			},
			methods: {
				findRoom: function () {
					axios.get('/chat/room/' + this.roomId).then(response => { this.room = response.data; });
				},
				sendMessage: function () {
					ws.send("/app/chat/message", {Authorization: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJja2Roa2R3bnMiLCJhdXRoIjoiIiwiZXhwIjoxNjY1MjA3MzY0fQ.fxYJGZL1LG7jOitcenQlABevQ8NSe39ZJe3DOlNVhCABCI6Osg09MVeChwxZbl53_u5S2H0OjQsvH5ihgaguSQ"}, JSON.stringify({ messageType: 1, roomId: this.roomId, sender: this.sender, message: this.message }));
					this.message = '';
				},
				recvMessage: function (recv) {
					this.messages.unshift({ "type": recv.messageType, "sender": recv.messageType == 0 ? '[알림]' : recv.sender, "message": recv.message })
				}
			}
		});

		function connect() {
			// pub/sub event
			ws.connect({ Authorization: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJja2Roa2R3bnMiLCJhdXRoIjoiIiwiZXhwIjoxNjY1MjA3MzY0fQ.fxYJGZL1LG7jOitcenQlABevQ8NSe39ZJe3DOlNVhCABCI6Osg09MVeChwxZbl53_u5S2H0OjQsvH5ihgaguSQ" }, function (frame) {
				ws.subscribe("/topic/chat/room/" + vm.$data.roomId, function (message) {
					console.log("RoomId:" + vm.$data.roomId);
					var recv = JSON.parse(message.body);
					vm.recvMessage(recv);
				});
				ws.send("/app/chat/message", {Authorization: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJja2Roa2R3bnMiLCJhdXRoIjoiIiwiZXhwIjoxNjY1MjA3MzY0fQ.fxYJGZL1LG7jOitcenQlABevQ8NSe39ZJe3DOlNVhCABCI6Osg09MVeChwxZbl53_u5S2H0OjQsvH5ihgaguSQ"}, JSON.stringify({ messageType: 0, roomId: vm.$data.roomId, sender: vm.$data.sender }));
			}, function (error) {
				if (reconnect++ <= 5) {
					setTimeout(function () {
						console.log("connection reconnect");
						sock = new SockJS("/ws/chat");
						ws = Stomp.over(sock);
						connect();
					}, 1000);
				}
			});
		}
		connect();
	</script>
</body>

</html>